.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.box {
    background-color: lightblue;
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.cell {
    border: 1px solid lightpink;
    font-size: 2.3rem;
    cursor: pointer;
    text-align: center;
    padding-top: 50%;
}
